body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
.navbar{
    min-height: 75px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}
.navbar-inverse {
    background-color: #4441f4;
    border-color: #4441f4;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}
.nav.navbar-nav{
    float: right;
}

h1{
    color: black;
}

footer {
    padding: 30px 0;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.help-inline{
    color: red;
}

.label{
    font-size: 100%;
}